<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="side-menu">
  <div class="row">
    <div class="col">
      <div class="def-category-section">
        <div th:each="category : ${categories}"  class="row justify-content-between">
          <div class="col-10">
            <span th:text="${category.name}">Tv - Audio - Video</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:fragment="side-menu-old">
  <div class="row">
    <div class="col">
      <div class="def-category-section">
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Tv - Audio - Video</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Laptop - Desktop - IT - Birotica</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Telefoane - Tablete</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Electrocasnice mari</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Electrocasnice mici - Vesela</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Cosmetice - Sanatate - Beauty</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Incalzire - Racire - Purificare aer</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <span>Curatenie - Intretinere casa</span>
          </div>
          <div class="col-2">
            <div class="ml-auto">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
