<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Onion</title>
</head>
<body>
<div class="container align-middle">
  <!-- Header section-->
  <div class="row text-center" style="height: 150px; background-color: aqua">
    <div class="col">
      <h1 class="text-center m-5 p-2">Header!</h1>
    </div>
  </div>

  <!--  -->
  <div class="row">
    <div class="col">
      <div class="row" style="height: 700px;">
        <!--Side menu-->
        <div class="col-4" style="background-color: bisque">
          <h1 class="text-center m-5 p-2">SideMenu</h1>
        </div>
        <!-- Main body-->
        <div class="col-8" style="background-color: cadetblue">
          <h1 class="text-center m-5 p-2">Body</h1>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
