<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>Onion</title>
</head>
<body>
<div class="container-fluid">
  <div class="row m-0">
    <div class="col">
      <!-- Header section-->

      <div class="row">
        <div class="col" th:include="section/header :: header" ></div>
      </div>
      <div class="row">
        <div class="col" th:include="section/nav-bar :: nav-bar"></div>
      </div>


      <!--  -->
      <div class="row">
        <div class="col">
          <div class="row">
            <!--Side menu-->
            <div class="col-4 p-0" style="margin-left: -9px;">
              <div th:include="section/side-menu :: side-menu"></div>
            </div>
            <!-- Main body-->
            <div class="col-8">
              <div th:include="section/product :: product"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
