<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Onion</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <form action="/home" method="get">
                    <div class="row">
                        <div class="col">
                            <span>Username</span>
                            <input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Password</span>
                            <input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="submit">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>
</html>