<!DOCTYPE html>
<html lang="en">
<head th:replace="~{section/head :: head}"></head>
<body>
<div class="container-fluid">
  <div class="row m-0">
    <div class="col">
      <div class="row">
        <div class="col" th:include="section/header :: header" ></div>
      </div>
      <div class="row">
        <div class="col" th:include="section/nav-bar :: nav-bar"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="p-10 ml-5 mt-3">
            <a href="/" class="text-black text-decoration-none">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span>Continue shopping</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-12">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,i : ${cartProducts}">
              <th scope="row" th:text="${i.index + 1}">1</th>
              <td th:text="${product.name}">Mark</td>
              <td th:text="${product.price}">Otto</td>
              <td th:text="${product.quantity}">@mdo</td>
              <td th:text="${product.value}">@mdo</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">
                <span class="font-weight-bold">Total:</span>
              </td>
              <td th:text="${totalValue}"> 1235123</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


</body>
</html>
